<h2>Если результаты не устраивают можно начать заново</h2>

<form asp-action="GetNPage" asp-controller="home">
    <p>
        <input type="submit" value="Начать заново" />
    </p>
</form>


<h2> Новый процент обнуления для вектора с</h2>

<form asp-action="ShowPicturePage" asp-controller="home">

    <p>
        <label>%: </label>
        <input type="text" name="percent" />
    </p>
    <p>
        <input type="submit" value="Подтвердить" />
    </p>
</form>

<h2>Изначальный и новый вектор f на плоскости</h2>

<img src="~/Picture/BothVector_f.png" class="img" alt="Image Error" Width="1200" Height="900" />